<div class="page">
    <h1 style="text-align: center">{{message}}</h1>
    <h2 style="text-align: center">{{error.status}}</h2>
    <pre style="margin-left: 100px; margin-right:25%">{{error.stack}}</pre>
</div>
