<div class="page">
    <h1 style="text-align: center">{{message}}</h1>
    <h2 style="text-align: center">{{error.status}}</h2>
    <pre style="margin-right:25%; width:75%; font-size: 0.8em">{{error.stack}}</pre>
</div>
