 <div class="page">
    <header class="main-header">
        <h1>Software Engineer Wannabe</h1>
    </header>

    <div class="main-content">
        <header>
            <h1>Welcome to my humble site!</h1>
            <p>My name is Yuliyan Rusev and I am trying to show off my path to becoming a software engineer.</p>
        </header>
    </div>
 </div>