 <div class="page">
    <header class="main-header">
        <h1>Software Engineer Wannabe</h1>
    </header>

    <div class="main-content">
        <article class="main-article">
            {{#if header}}
            <header>
                <h2>
                        {{header}}
                    </h2>
                <h6>
                        {{info}}
                    </h6>
            </header>
            <div class="main-article-content">
                <p>{{body}}</p>
            </div>
            {{~^~}}
            <h2>No articles</h2>
            {{/if}}
        </article>
    </div>
 </div>