.color-primary-0 { color: #8B96B0 }
.color-primary-1 { color: #566790 }
.color-primary-2 { color: #2E4272 }
.color-primary-3 { color: #122654 }
.color-primary-4 { color: #041335 }

/* Globals */
* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%
}

body {
    background-color: ghostwhite;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #8B96B0;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

a:hover {
    color: white;
}

.page {
    margin: auto;
    width: 75%;
    height: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

/* Globals end */


/* Header style */
.main-header {
    display: block;
    background: #122654;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main-header h1 {
    width: auto;
    color: #bbb;
    text-shadow: 2px 2px 1px #566790;
    font-size: 3em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 150px;
    line-height: 150px;
    text-align: center;
}
/* Header style */

/* Nav toggle symbol */
.toggle-symbol {
    color: #122654;
    text-shadow: 1px 1px 2px #000;
    position: fixed;
    z-index: 10;
    left: 10px;
    top: 0;
    font-size: 30px;
    -webkit-transition: transform 0.5s ease, color 0.5s ease;
    -moz-transition: transform 0.5s ease, color 0.5s ease;
    -o-transition: transform 0.5s ease, color 0.5s ease;
    transition: transform 0.5s ease, color 0.5s ease;
}

.toggle-symbol:hover {
    color:#fff;
}

#nav-bar-toggle, #projects-toggle {
    display: none;
}

#nav-bar-toggle:checked ~ nav {
    left: 0;
}

#nav-bar-toggle:checked ~ .page {
    -webkit-transform: translateX(12.5%);
    -moz-transform: translateX(12.5%);
    -o-transform: translateX(12.5%);
    transform: translateX(12.5%);
}

#nav-bar-toggle:checked ~ .toggle-symbol {
    color:#8B96B0;
    text-shadow: -1px -1px 2px #000;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


#nav-bar-toggle:checked ~ .toggle-symbol > .tooltip {
    visibility: hidden;
}

#nav-bar-toggle:checked ~ .toggle-symbol:hover {
    color:#fff;
}

/* Nav bar toggle end*/

/* Nav bar main style  */
nav {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    height: 100%;
    overflow:scroll;
    background: #122654;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

nav::-webkit-scrollbar {
    display: none;
}

nav .mainMenu {
    position: absolute;
    top: 30px;
}

nav a {
    display:block;
    border-top: 1px solid #355876;
    padding:8px;
}


nav a:hover {
    background-color: #041335;
}

.sub-menu-container {
    display:block;
    position:relative;
    overflow: hidden;
    max-height: 0;
    padding-left:7px;
    -webkit-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
}

.projects {
    display:block;
    width:184px;
    border-top: 1px solid #355876;
    padding: 8px;
    color:#8B96B0;
    transition: color 0.5s;
}

.projects:hover {
    cursor:pointer;
    color:white;
    background: #041335;
}

#projects-toggle:checked ~ .sub-menu-container {
    max-height: 600px;
    -webkit-transition: max-height 1.5s ease;
    -moz-transition: max-height 1.5s ease;
    -o-transition: max-height 1.5s ease;
    transition: max-height 1.5s ease;

}

#projects-toggle:checked ~ .projects {
    background-color: #141414;
}
/* Nav bar main style end */

/* Tool tip */

label > .tooltip {
    opacity:0;
    visibility: hidden;
    margin-top:50%;
    margin-left:-50%;

    -webkit-transition-property: opacity,visibility,margin-top,margin-left;
    -webkit-transition-duration: 0.5s,0.1s,0.5s,0.5s;
    -webkit-transition-timing-function: ease,ease,ease,ease;

    -moz-transition-property: opacity,visibility,margin-top,margin-left;
    -moz-transition-duration: 0.5s,0.1s,0.5s,0.5s;
    -moz-transition-timing-function: ease,ease,ease,ease;

    -o-transition-property: opacity,visibility,margin-top,margin-left;
    -o-transition-duration: 0.5s,0.1s,0.5s,0.5s;
    -o-transition-timing-function: ease,ease,ease,ease;

    transition-property: opacity,visibility,margin-top,margin-left;
    transition-duration: 0.5s,0.1s,0.5s,0.5s;
    transition-timing-function: ease,ease,ease,ease;
}

label:hover > .tooltip {
    opacity:1;
    visibility: visible;
    margin-top: 100%;
    margin-left:0;
    display:inline;

    -webkit-transition-property: opacity,visibility,margin-top,margin-left;
    -webkit-transition-duration: 0.5s,0.1s,0.5s,0.5s;
    -webkit-transition-timing-function: ease,ease,ease,ease;

    -moz-transition-property: opacity,visibility,margin-top,margin-left;
    -moz-transition-duration: 0.5s,0.1s,0.5s,0.5s;
    -moz-transition-timing-function: ease,ease,ease,ease;

    -o-transition-property: opacity,visibility,margin-top,margin-left;
    -o-transition-duration: 0.5s,0.1s,0.5s,0.5s;
    -o-transition-timing-function: ease,ease,ease,ease;

    transition-property: opacity,visibility,margin-top,margin-left;
    transition-duration: 0.5s,0.1s,0.5s,0.5s;
    transition-timing-function: ease,ease,ease,ease;
}

.tooltip {
    position: absolute;
    background:ghostwhite;
    background: -moz-linear-gradient(top, ghostwhite 0%, #bbb 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,ghostwhite),color-stop(100%,#bbb));

    text-decoration: none;
    font-style: normal;
    font-size: 10px;
    color: #333;
    text-shadow: 2px 2px 1px #fff;

    border:1px solid #8B96B0;
    border-radius: 3px;
    padding: 5px;
    z-index: 100;

    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);

}

/* Tool tip end*/

/* Main Content */
.main-content {
    height:100%;
}
