@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes slideRight {
    from { left: 0; }
      to { left: 175px; }
}

* {
	margin: 0;
	padding: 0;
	color: #fff;	
}

#wrapper {
	display: block;
	background-color: #222
}

#head {
	display: block;
	width: 100%;
	height: auto;
	background-color: #113;
}

#head h1 {
	width: 100%;
	padding:10px;
	padding-top:50px; 
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	color:#fff;
}

#headmenu ,ul.submenu,ul.submenutwo {
	list-style-type: none;
}

#headmenu li {
	width: 175px;
	position:relative;
	float:left;
	text-align: center;
}

#headmenu a {
	text-decoration: none;
	display: block;
	width: 175px;
	height: 35px;
	line-height: 35px;	
	background-color: #333;
}

#headmenu li:hover > a {
	background-color: #444;
	color:#77f;	
	transition:0.5s;
	
}

#headmenu li:hover a:hover {
	color:#aaf;	
	transition:0.5s;
}

#headmenu ul.submenu {
	display: none;
	position: absolute;
	opacity: 0;
	top:35px;
	left: 0px;
	z-index: 0;
}

#headmenu ul.submenutwo {
	display: none;
	opacity: 0;
	position: absolute;
	top:0px;
	left: 175px;
	z-index: -1;
}

#headmenu li:hover .submenu {
	display: block;
	opacity: 1;
	animation: fadeIn 0.5s linear;

}

#headmenu .submenu li:hover .submenutwo {
	display: block;
	opacity: 1;
	animation: fadeIn 0.5s,slideRight 0.2s ease-in both;
}